.list {
  list-style-type: none;
  text-align: center;
  margin: 0 35px;
  font-size: 1.3rem;


  &__item {
    border-bottom: 1px solid #bababa91;
    padding: 0.5rem 1rem;
    cursor: pointer;

    transition: 0.1s;

    &:hover {
      background-color: rgb(215, 231, 251);
    }

    &_select {
      background-color: rgb(90, 158, 254);
      color: white;
      &:hover {
        background-color: rgb(90, 158, 254);
      }
    }


  }
}